

* {font-family: Arial, Helvetica, sans-serif;}
div.thing {
    background: linear-gradient(
        to bottom right,
        rgb(27, 27, 27),
        rgb(51, 51, 51)
    ); 
    background-repeat: cover;
    background-attachment: fixed;
    color:rgb(235, 235, 235); 
    margin-bottom:20px; 
    padding:15px; 
    border: 1px solid transparent; 
    border-radius: 20px;
}
body {
    background: 
    url(argyle.png), 
    repeating-linear-gradient(
        to bottom right,
        rgb(49, 49, 49), 
        rgb(134, 134, 134)
    );
    background-size: auto, cover;
    background-attachment: fixed, fixed;
    margin-left:50px;
    margin-right:50px
}
button.io{
    appearance: none;
    padding: 5px;
    border: 0;
    border-radius: 10px;
    background: linear-gradient(
        to bottom right,
        black 10%,
        rgb(92, 201, 78)
    );
    color: white;
    background-attachment: fixed;
    min-width: 100px;
    transition: 0.6s;
}
button.io:hover{
    color: rgb(93, 201, 78);
    box-shadow: 0 0 0 1px;
    cursor: pointer;
}
::selection{
    background-color: rgba(92, 201, 78, 0.336);
}

@media screen and (max-width: 768px) {
    body {
        margin-left: 10px;
        margin-right: 10px;
        background-size: auto, contain; 
    }

    h1 {
        font-size: 20px; 
    }

    div.thing {
        padding: 10px;
        margin-bottom: 10px;
        font-size: 16px; 
    }

    button.io {
        min-width: 120px; 
        padding: 5px;
        font-size: 18px;
    }

    button.io:hover {
        box-shadow: 0 0 0 2px;
    }
}
